<div class="profile-card">
  <div class="avatar-name">
    <div class="profile-card__avatar-container">
      <img
        src="assets/images/gosling-avatar.jpg"
        alt="avatar"
        class="profile-card__avatar"
      />
    </div>

    <div class="profile-card__name">
      <strong class="h6">Раян Ґослінґ</strong>
      <span>gosling_official</span>
    </div>
  </div>

  <div class="profile-card__description">
    <p>
      Ryan Gosling is a Canadian actor and musician, renowned for his
      versatility and depth in roles. He gained fame with "The Notebook" and
      "Drive," and earned critical acclaim for "La La Land" and "Blade Runner
      2049."
    </p>
  </div>

  <div class="profile-card__tags">
    <div class="skill-tag">JavaScript</div>
    <div class="skill-tag">Angular</div>
    <div class="skill-tag">React</div>
    <div class="skill-tag">HTML</div>
    <div class="skill-tag">CSS</div>
    <div class="skill-tag">Sass</div>
    <div class="skill-tag">Bootstrap</div>
  </div>

  <div class="profile-card__action-buttons">
    <button class="btn">Follow</button>
  </div>
</div>
